*{
    font-family: inherit;
}

header {
    position: absolute;
    display: flex;
    height: 50%;
    width: 100%;
    margin-left: -8px;
    margin-top: -8px;
    background-image: url("Imagenes/turismo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.Logo {
    height: 100%;
    width: 15%;
    display: flex;
    text-align: center;
    place-content: center;
    position: static;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}

li {
    float: left;
}

li a {
display: block;
color:black;
padding: 7px 15px;
text-decoration: none;
text-align: center;
font-size: large;
border-radius: 20px;
}

li a:hover{
    background-color: coral;
    color: white;
}

.menu{
    width: 85%;
    text-align: center;
    align-self: center;
}

