:root {
    --backgroundcolor: #fff;

}

*{
    font-family:fantasy;
    overflow: hidden;
}

body {
    height: 100vh;
    overflow: auto;
    background-image: url("Imagenes/turismo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
height: 60%;
width: 100%;
display: flex;
}

.container-header {
    height: 60px;
    width: 99%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
}

header {
    position: absolute;
    display: flex;
    height: 50%;
    width: 100%;
    margin-left: -8px;
    margin-top: -8px;
}

.Logo {
    height: 100%;
    width: 15%;
    display: flex;
    text-align: center;
    place-content: center;
    position: static;
    align-items: center;
}

.Logo a img {
    height: 100px;
}

.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}

.menu li {
    float: left;
}

.menu li a {
display: block;
color:black;
padding: 7px 15px;
text-decoration: none;
text-align: center;
font-size: large;
border-radius: 20px;
}

.menu li a:hover{
    background-color:azure;
    color:slategrey;
}

.menu{
    width: 85%;
    text-align: center;
    align-self: center;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 40%;
}

.mySlide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius:  3px 0 0 3px;

}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center;
    color:ghostwhite;
}

.numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: var(--backgroundcolor);
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 250px;
    width: 90%;
    transition: transform .2s;
}

.grid-item img {
height: inherit;
width: inherit;
}

.grid-item:hover {
    transform: scale(1.2);
}

.container-body {
width: 100%;
background-color: var(--backgroundcolor);
}

.container-footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    background-color: var(--backgroundcolor);
}

.grid-footer {
    padding: 20px;
    font-size: 30px;
    height: 250px;
    width: 90%;
}

.grid-footer h5 {
padding-left: 20px;
margin-block-start: 1em;
padding-inline-start: 40px;
margin-bottom: auto;
}

.grid-footer li a {
    display: block;
    color:gray;
    text-decoration: none;
    font-size: large;
    }







.container-info {
    width: 100%;
    background-color: var(--backgroundcolor);
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-info-img {
    height: 300px;
    width: 1330px;
    flex-direction: row;
    align-items: center;
    margin: 50px 50px 10px 50px;
    display: flex;
    background-color: rgba(192, 190, 190);
}

.container-info-img img {
height: 100%;
width: 900px;

}

.Titulo-temporal {
    margin: 50px 0 0 0;
    height: 150px;

}

.container-text {
    text-align: center;
    background-color: rgb(196, 196, 196);
    margin: 90px 0 0 0;
}

.linea {
    width: 200px;
    background-color:black;
    height: 2px;

}

.container-text2 {
    text-align: center;
    background-color: white;
    margin: 90px 0 0 0;
    height: 280px;
}

.primera {
    background-color: tomato;
    height: 300px
}

.segunda {
    background-color:seagreen;
    height: 300px;
    margin: 0 100px 0 100px;  
}

 
.tercera {
    background-color: khaki;
    margin: 0 400px 0 400px; 
    height: 300px;
    text-align: center;
}



