*{
    font-family:fantasy;
}

.container {
height: 100%;
width: 100%;
display: flex;
}

.container-header {
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
}

header {
    position: absolute;
    display: flex;
    height: 50%;
    width: 100%;
    margin-left: -8px;
    margin-top: -8px;
    background-image: url("Imagenes/turismo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.Logo {
    height: 100%;
    width: 15%;
    display: flex;
    text-align: center;
    place-content: center;
    position: static;
    align-items: center;
}

.Logo img {
    height: inherit;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}

li {
    float: left;
}

li a {
display: block;
color:black;
padding: 7px 15px;
text-decoration: none;
text-align: center;
font-size: large;
border-radius: 20px;
}

li a:hover{
    background-color:azure;
    color:slategrey;
}

.menu{
    width: 85%;
    text-align: center;
    align-self: center;
}

.slideshow-container{
    margin-top: 26%;
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius:  3px 0 0 3px;

}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    font-size: unset;
    padding: 8px 12px;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
